@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    background-color: #5597CD;
    color: #BFDFFA;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.info{
    color: aquamarine;
    font-size: 2rem;
    display: flex;
}

.info img{
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    object-position: 75%;
    border-radius: 5vh;
    margin-left: 5%;
}

.info p{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
}

.more-info{
    text-align: center;
    font-size: 3rem;
}